

<!DOCTYPE html>
<html xmlns:th="thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet" href="use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

	<!-- Bootstrap CSS -->
	<link href="../static/css/bootstrap.css" rel="stylesheet"
		th:href="@{/css/bootstrap.css}">
		
	<!-- Nuestro css-->
    <link rel="stylesheet" type="text/css" href="static/css/index.css" th:href="@{/css/index.css}">
    
</head>


<body>
    <div class="modal-dialog text-center">
        <div class="col-sm-8 main-section">
            <div class="modal-content">
            
                <div class="col-12 user-img">
                    <img src="static/img/user.jpg" th:src="@{/img/user.jpg}"/>
                </div>
                
                
                <form class="col-12" th:action="@{/login}" method="post">
                
                    <div class="form-group" id="user-group">
                        <input type="text" class="form-control" placeholder="Nombre de usuario" name="username"/>
                    </div>
                    
                    <div class="form-group" id="contrasena-group">
                        <input type="password" class="form-control" placeholder="Contrasena" name="password"/>
                    </div>
                    
                    <button type="submit" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i>  Ingresar </button>
                </form>
                
                
                <div class="col-12 forgot">
                    <a href="#">Recordar contrasena?</a>
                </div>
                
                
                <div th:if="${param.error}" class="alert alert-danger" role="alert">
		            Usuario y password invalidos.
		        </div>
		        
		        
		        <div th:if="${param.logout}" class="alert alert-success" role="alert">
		            Sesion cerrada.
		        </div>
            </div>
        </div>
    </div>
</body>



</html>


