

<!DOCTYPE html>
<html xmlns:th="thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

<!-- Bootstrap CSS -->
<link href="../static/css/bootstrap.css" rel="stylesheet"
	th:href="@{/css/bootstrap.css}">

</head>
<body>
	
	<div class="alert alert-success alert-dismissable" th:if="${success != null}">
		<label th:text="${success}"></label>
		<button type="button" class="close" data-dismiss="alert">&times;</button>
	</div>
	

	<div class="alert alert-warning alert-dismissable" th:if="${warning != null}">
		<label th:text="${warning}"></label>
		<button type="button" class="close" data-dismiss="alert">&times;</button>
	</div>
	<!-- ------------------------------------------ -->


	<!-- Paso2 - Para el deslogueo! -->
	
	<div class="container" align="right">	
		<h1 th:inline="text">Hola [[${#httpServletRequest.remoteUser}]]!</h1>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Cerrar Sesion"/>
        </form>
	</div>
	<!-- ------------------------------------------ -->



	<div class="container">
		<br>
		
		<div>
			<a href="/save/0" class="btn btn-primary">Agregar</a>
		</div>
		<br>
		
		<h2 th:if="${listado.isEmpty()}">No hay personas</h2>
		
		<div th:if="${!listado.isEmpty()}">
		
			<h2>Persona</h2>
			<table class="table">
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Apellido</th>
						<th>Direccion</th>
						<th>Telefono</th>
						
						<th>Email</th>
						<th>Pais</th>

					</tr>
				</thead>
				<tbody>
					<tr th:each="persona : ${listado}">
						<td th:text=${persona.nombre}></td>
						<td th:text=${persona.apellido}></td>
						<td th:text=${persona.direccion}></td>
						<td th:text=${persona.telefono}></td>
						<td th:text=${persona.email}></td>
						
						<td th:text=${persona.pais.nombre}></td>
						
						
						<td><a class="btn btn-info" th:href="@{/save/{id}(id=${persona.id})}">Editar</a></td>
						<td><a class="btn btn-danger" th:href="@{/delete/{id}(id=${persona.id})}">Eliminar</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		
		
		
	</div>
</body>
</html>