


<!DOCTYPE html>
<html xmlns:th="thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Personas</title>

	<!-- Bootstrap CSS -->
	<link href="../static/css/bootstrap.css" rel="stylesheet"
	th:href="@{/css/bootstrap.css}">
</head>
<body>


	<div class="container">
		<br>
		<h2>Agregar Persona</h2>
		<br>
		
		
		<form action="#" th:action="@{/save}" class="form-group"
			th:object="${persona}" method="post">

			<input type="hidden" th:field="*{id}" id="id" name="id">
			

			<div class="form-group">
				<label for="nombre">Nombre</label> <input type="text"
					class="form-control" id="nombre" th:field="*{nombre}" name="nombre">

				<small class="form-text text-danger"
					th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">
				</small>	
			</div>
			
			
			
			<div class="form-group">
				<label for="apellido">Apellido</label> 
				<input type="text" class="form-control" id="apellido" 
				th:field="*{apellido}" name="apellido">
				
				<small class="form-text text-danger"
					th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}">
				</small>
			</div>
			
			
			
			<div class="form-group">
				<label for="direccion">Direccion</label> <input type="text"
					class="form-control" id="direccion" th:field="*{direccion}"
					name="direccion">
				
				<small class="form-text text-danger"
					th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}">
				</small>	
			</div>
			
			
			
			<div class="form-group">
				<label for="telefono">Telefono</label> <input type="text"
					class="form-control" id="telefono" th:field="*{telefono}"
					name="telefono">
				
				<small class="form-text text-danger"
					th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}">
				</small>	
			</div>
			
			
			
			<div class="form-group">
				<label for="emailX">Email</label> <input type="text"
					class="form-control" id="email" th:field="*{email}"
					name="emailZ">
					
				<small class="form-text text-danger"
					th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
				</small>			
			</div>
			
			
			<div class="form-group">
			
				<label for="paisX">Pais</label> 
				
				<select th:field="*{pais}" class="form-control" id="pais">
					
					<option value="">Seleccione</option>
					
					
					<option th:each="pai:${listPaises}" 
					
						th:value="${pai.id}"
						th:text="${pai.nombre}" />
				</select>
				
				<small class="form-text text-danger"
					th:if="${#fields.hasErrors('pais')}" th:errors="*{pais}">
				</small>	
			</div>
			
			
			
			<button type="submit" class="btn btn-success">Guardar</button>
		</form>
		
		
		
		
	</div>
</body>
</html>