


<div class="col-md-4 offset-md-4">
    <div class="card">
      <div class="card-body">
        <form action="">
          <div class="form-group">
            <input type="text" name="nombre" [(ngModel)]="persona.nombre" placeholder="Nombre" class="form-control" autofocus>
          </div>
          <div class="form-group">
            <input type="text" name="description" [(ngModel)]="persona.apellido" placeholder="Apellido" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="direccion" [(ngModel)]="persona.direccion" placeholder="Direccion" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="telefono" [(ngModel)]="persona.telefono" placeholder="Telefono" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="email" [(ngModel)]="persona.email" placeholder="Email" class="form-control">
          </div>
          <div class="form-group">
            <select [(ngModel)]="persona.pais.id" class="form-control" name="pais">
              <option value="0"> Seleccione Pais </option>
              <option *ngFor="let pais of listPaises" [ngValue]="pais.id">{{pais.nombre}}</option>
            </select>
          </div>
          <button class="btn btn-success btn-block" (click)="edit ? updatePersona() : saveNewPersona()">
            Grabar
          </button>
        </form>
      </div>
    </div>
  </div>
