<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container p-4">
      <a class="navbar-brand" routerLink="/"><img src="logobcp.png" id="imgbcp"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/personas" routerLinkActive="active"><i class="fas fa-list"></i> Listar Personas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/persona/agregar" routerLinkActive="active"><i class="fas fa-plus-circle"></i> Añadir Persona
              </a>
          </li>
          <li></li>
          <li>
            <a class="nav-link"><i class="fas fa-bell"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
