
<table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Direccion</th>
        <th>Telefono</th>
        <th>Email</th>
        <th>Pais</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let persona of personas">
        <td>{{persona.nombre}}</td>
        <td>{{persona.apellido}}</td>
        <td>{{persona.direccion}}</td>
        <td>{{persona.telefono}}</td>
        <td>{{persona.email}}</td>
        <td >{{persona.pais.nombre}}</td>
        <td><a class="btn btn-info" [routerLink]="['/persona/editar', persona.id]">Editar</a></td>
        <td><button class="btn btn-danger" (click)="deletePersona(persona.id)">
          <i class="far fa-trash-alt"></i>
        </button></td>
      </tr>
    </tbody>
  </table>
