body {
    background-image: url("imgs/bg1.png"); /* The image used */
    background-position: center; /* Center the image */
    background-repeat: repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    
}

#imgbcp{
    width: 180px;
    height: 100px;
    background-image: url("imgs/logobcp.png");
}